body {
  font-family: $f-regular;
  font-size: $s-regular;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}

.active-link {
  color: blue;
}

li {
  list-style-type: none;
}