<script>
    import {mapState} from 'vuex'
    import modalForm from './ModalForm.vue'
    import modalDeleteConfirm from './ModalDeleteConfirm.vue'

    export default {
        name: 'c-modal',
        components: {
            'c-modal-form': modalForm,
            'c-modal-delete-confirm': modalDeleteConfirm
        },
        computed: {
            ...mapState({
                modalName: state => state.modal.name
            })
        },
        methods: {
            close() {
                return this.$store.dispatch('closeModal')
            }
        }
    }
</script>

<template>
    <div id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <button @click="close"
                                class="modal-close">
                            <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/>
                            </svg>
                        </button>
                        <component :is="modalName"></component>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<style lang="scss" src="./modal.scss" scoped>
</style>