<script>
    import Input from "../ui/Input/Input.vue";
    import Button from "../ui/Button/Button.vue";
    import {mapState} from 'vuex'

    export default {
        name: 'c-modal-edit',
        components: {
            'c-input': Input,
            'c-button': Button
        },
        computed: {
            ...mapState({
                modalData: state => state.modal.data
            })
        },
        methods: {
            close(value) {
                if (value) {
                    this.remove(this.modalData.article.id)
                }
                return this.$store.dispatch('closeModal', value)
            },
            remove(id) {
                this.$store.dispatch('removeArticle', id)
            }
        }
    }
</script>

<template>
    <div>
        <h2 class="modal-header">
            Подтверждение действий
        </h2>
        <div class="modal-body">
            Удалить статью?
        </div>
        <div class="modal-actions">
            <c-button @click.native="close(true)">
                Да
            </c-button>
            <c-button @click.native="close(false)">
                Нет
            </c-button>
        </div>
    </div>
</template>

<style scoped>
    .modal-header {
        margin-bottom: 20px;
    }

    .modal-body {
        margin-bottom: 20px;
    }
</style>